  # Challenge

  ## Identifying Outliers using Standard Deviation

In [1]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [5]:
# create a connection to the database
engine = create_engine("postgresql://postgres:Marley123@localhost:5433/transactions_db")

query = """
SELECT  CH.customer_id, TR.date, TR.amount, TR.card, tr.id_merchant, MC.merchant_name
	FROM card_holder CH
	
	JOIN credit_card CC
	
	ON CH.customer_id = CC.cardholder_id

	JOIN transactions TR
	
	ON TR.card = CC.card
	
	JOIN merchant ME
	
	ON TR.id_merchant = ME.id_merchat_category
	
	JOIN merchant_category MC
	
	ON TR.id_merchant = MC.merchant_id
"""


transactions_df = pd.read_sql(query, engine)
transactions_df.head()

,customer_id,date,amount,card,id_merchant,merchant_name
0,11,2018-12-03 14:27:49,11.88,4027907156459098,1,restaurant
1,2,2018-10-30 07:27:12,10.45,675911140852,1,restaurant
2,16,2018-10-28 19:39:18,12.39,503842928916,1,restaurant
3,21,2018-10-06 18:18:03,20.69,4279104135293225293,1,restaurant
4,1,2018-09-23 22:15:58,10.32,3517111172421930,1,restaurant

In [6]:
# code a function to identify outliers based on standard deviation
def detect_outlier(data_1):
    outliers=[]    
    threshold=3
    mean_1 = np.mean(data_1)
    std_1 =np.std(data_1)
    
    
    for y in data_1:
        z_score= (y - mean_1)/std_1 
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

In [9]:
# find anomalous transactions for 3 random card holders
random_holder1_data = transactions_df.loc[transactions_df['customer_id'] == random.choice(transactions_df['customer_id'])]
random_holder2_data = transactions_df.loc[transactions_df['customer_id'] == random.choice(transactions_df['customer_id'])]
random_holder3_data = transactions_df.loc[transactions_df['customer_id'] == random.choice(transactions_df['customer_id'])]

In [10]:
print(random_holder1_data.head()) 
print(random_holder2_data.head()) 
print(random_holder3_data.head())

   customer_id                 date amount              card id_merchant  \
6           24  2018-09-05 04:25:04  17.22    30142966699187           1
20          24  2018-09-05 04:25:04  17.22    30142966699187           1
61          24  2018-01-17 07:56:09  11.91     4681896441519           2
63          24  2018-01-12 02:48:29   1.84    30142966699187           2
64          24  2018-01-12 02:18:05  11.52  3582198969197591           2

   merchant_name
6     restaurant
20    restaurant
61   coffee shop
63   coffee shop
64   coffee shop
   customer_id                 date amount              card id_merchant  \
0           11  2018-12-03 14:27:49  11.88  4027907156459098           1
9           11  2018-05-09 15:20:49   4.09   180098539019105           1
13          11  2018-02-05 08:37:24  17.85   180098539019105           1
14          11  2018-12-03 14:27:49  11.88  4027907156459098           1
23          11  2018-05-09 15:20:49   4.09   180098539019105           1

   merchant_name
0     restaurant
9     restaurant
13    restaurant
14    restaurant
23    restaurant
   customer_id                 date amount           card id_merchant  \
11          18  2018-02-14 09:36:28   2.73  4498002758300           1
25          18  2018-02-14 09:36:28   2.73  4498002758300           1
47          18  2018-05-19 07:14:56   3.22  4498002758300           2
77          18  2018-06-24 15:48:23   4.88  4498002758300           3
98          18  2018-07-08 04:01:24   1.24  4498002758300           4

   merchant_name
11    restaurant
25    restaurant
47   coffee shop
77           bar
98           pub

  ## Identifying Outliers Using Interquartile Range

In [11]:
# code a function to identify outliers based on interquartile range
def IQR_outlier(data_1):
    sorted(data_1)
    q1, q3= np.percentile(data_1,[25,75])
    iqr = q3 - q1
    lower_bound = q1 -(1.5 * iqr) 
    upper_bound = q3 +(1.5 * iqr) 
    for y in data_1:
        upperbound_data = []
        lowerbound_data = []
        if y > upper_bound:
            upperbound_data.append(y)
        elif y < lower_bound:
            lowerbound_data.append(y)
    return lowerbound_data, upperbound_data

In [16]:
# find anomalous transactions for 3 random card holders
random_data = transactions_df.loc[transactions_df['customer_id'] == random.choice(transactions_df['customer_id'])]
random2_data = transactions_df.loc[transactions_df['customer_id'] == random.choice(transactions_df['customer_id'])]
random3_data = transactions_df.loc[transactions_df['customer_id'] == random.choice(transactions_df['customer_id'])]

In [17]:
print(random_data.head()) 
print(random2_data.head()) 
print(random3_data.head())

   customer_id                 date amount              card id_merchant  \
6           24  2018-09-05 04:25:04  17.22    30142966699187           1
20          24  2018-09-05 04:25:04  17.22    30142966699187           1
61          24  2018-01-17 07:56:09  11.91     4681896441519           2
63          24  2018-01-12 02:48:29   1.84    30142966699187           2
64          24  2018-01-12 02:18:05  11.52  3582198969197591           2

   merchant_name
6     restaurant
20    restaurant
61   coffee shop
63   coffee shop
64   coffee shop
    customer_id                 date amount              card id_merchant  \
44           13  2018-07-12 01:40:29  11.75  3561954487988605           2
52           13  2018-04-12 15:50:59   2.84  4711773125020499           2
55           13  2018-03-09 23:41:26   11.7  3561954487988605           2
283          13  2018-07-12 01:40:29  11.75  3561954487988605           2
291          13  2018-04-12 15:50:59   2.84  4711773125020499           2

    merchant_name
44    coffee shop
52    coffee shop
55    coffee shop
283   coffee shop
291   coffee shop
    customer_id                 date amount              card id_merchant  \
44           13  2018-07-12 01:40:29  11.75  3561954487988605           2
52           13  2018-04-12 15:50:59   2.84  4711773125020499           2
55           13  2018-03-09 23:41:26   11.7  3561954487988605           2
283          13  2018-07-12 01:40:29  11.75  3561954487988605           2
291          13  2018-04-12 15:50:59   2.84  4711773125020499           2

    merchant_name
44    coffee shop
52    coffee shop
55    coffee shop
283   coffee shop
291   coffee shop